name: GTP-Guard CI
run-name: ${{ github.actor }} basic compilation and basic tests ⚗️
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
jobs:
  build-gtp-guard:
    name: Build gtp-guard
    runs-on: ${{ matrix.os }}
    permissions:
      packages: read
      actions: read
      contents: read
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        arch: [x86_64, arm64]
        compiler: [ gcc, clang ]
    steps:
      - name: add missing packages
        uses: ConorMacBride/install-package@v1
        with:
          apt: libelf-dev libpcap-dev llvm meson
      - name: checkout
        uses: actions/checkout@v4
      - name: make gtp-guard
        run : CC=${{ matrix.compiler }} make
      - name: basic run
        run : bin/gtp-guard --version
      - name: Upload gtp-guard artifacts
        uses: actions/upload-artifact@v4
        with:
          name : artifact-gtp-guard-${{ matrix.compiler }}-${{ matrix.arch }}
          path : |
            bin/gtp-guard
            bin/*.bpf
